<h1>Puzzle List Help</h1><br>

<p>Browse the list of puzzles and select one to play by touching it. You can also "Long Touch" a puzzle to delete it, or move it to the "Archive" view.
You can also press the floating plus button to import puzzles.</p><br>

<h4>Floating + Button</h4><br>

<p>Pressing the floating plus button gives the following options:</p><br>

• <b>Online Sources</b> - Opens a page with links to websites where puzzles can be downloaded<br>
• <b>Import Puzzle</b> -Import a puzzle from your device. Forkyz will try to recognise the file format automatically. Puzzles can be downloaded from the online sources, or using external tools such as xword-dl.<br>
• <b>Download Puzzles</b> - Use in-app direct download from sources configured in settings.<br>
<br>

<h4>Menu Options</h4><br>

<p>Pressing the Menu button on this screen provides the following options:</p><br>

• <b>Help</b> - Displays this screen<br>
• <b>Settings</b> - Displays the Application settings. Here you can select puzzles to download and customize the behavior of the Cleanup operation.<br>
• <b>Archive/Crosswords</b> - Toggles between the regular list of crosswords and the archive folder<br>
• <b>Cleanup</b> - Moves completed and older puzzles to the Archive folder. If you wish to delete, instead of moving them to the archive folder, you can specify this in the settings. The puzzle files are not that large, though, and won't take up a significant amount of space on your external storage device.<br>
<br>

<h4>Automatic Imports From To-Import Directory</h4><br>

<p>If using a non-internal crosswords directory (see settings, storage location), you can place files into the <tt>to-import</tt> sub-directory. These files will be automatically imported the next time the puzzle list is viewed. Successfully imported files will be moved to <tt>to-import-done</tt> and you are safe to delete them. Failed imports are moved to <tt>to-import-failed</tt>.</p><br>

<h4>Sharing Puzzles from a Browser</h4><br>

<p>Navigate your web browser to a puzzle page, then use the share feature to share the URL of the page with Forkyz. Forkyz will attempt to import the crossword.</p><br>

<p>Note, this only works with a limited number of sites that embed their crosswords in a way that Forkyz can recognise. Example sites include Crossword Nexus, Exolve, Guardian, Hamburger Abendblatt (embedded from Raetsel Zentrale), De Standaard (embedded crosswords from Keesing), Metro (embedded from PA Puzzles), De Telegraaf (embedded from Pzzl.net), Przekroj, Wall Street Journal.</p>
