<h2>Play Help</h2><br>

<p>On these screens you solve your puzzle!</p><br>

<p>The screens are:</p><br>
• <b>Main screen</b> - Shows the whole puzzle.<br>
• <b>Clue list</b> - View the puzzle as a list of clues.<br>
• <b>Notes</b> - For making notes and solving anagrams.<br>
<br>

<p><b>Main Screen</b></p><br>

• Keyboard behaviour can be configured in the settings.<br>
• Tap clue line at the top to show/hide clues panel.<br>
• Long-press clue line to open clues page.<br>
• Long-press clue on board to open notes on clue.<br>

<p>Pressing the Menu button provides the following options:</p><br>
• <b>Clues</b> - Takes you to a screen where you can browse the across and down clues for the whole puzzle.<br>
• <b>Notes</b> - Takes you to a screen where you can make notes on the clue and solve anagrams. You can choose between notes for the selected clue, or puzzle-wide notes.<br>
• <b>Zoom</b> - Control the zoom of the play board.<br>
• <b>Show Errors</b> - Highlights unsolved or incorrect boxes in red. Three modes are grid (whole board), clue (currently selected clue, once filled), cursor (currently selected box). (May be disabled if no answer key is available)<br>
• <b>Scratch Mode</b> - Edit clue scratch (see notes) directly. Configure show scratch on board in settings to use this best.<br>
• <b>Reveal</b> - Presents the option to reveal the correct solution to a box, word or the whole puzzle. Once revealed "cheated" boxes have a pink background. (May be disabled if no answer key is available)<br></dl>
• <b>Info</b> - Shows information about the puzzle you are playing.<br>
• <b>Support Puzzle Source</b> - Available if known. Opens the webpage of the source so you can offer your support (via e.g. newspaper subscriptions).<br>
• <b>Insert Special</b> - Insert any character or word into the current cell.<br>
• <b>Ask ChatGPT for Help</b> - <dd>Get a hint on the current clue from ChatGPT. Requires an API key to be configured in interaction settings, and a network connection.<br>
• <b>Share</b> - Share the current grid or clue.<br>
• <b>Help</b> - Displays this screen<br>
• <b>Settings</b> - Takes you to the application settings screen.<br>
<br>

<p><b>Clue List</b></p><br>

<p>On the clue list screen you can also choose:</p><br>

• <b>Show All Words</b> - Display each grid entry underneath its clue rather than showing only the currently selected clue at the top.<br>
• <b>Edit Clue</b> - Edit the text of the currently selected clue.<br>
<br>

<p><b>Notes Page</b></p><br>

<p>On the notes page, if anagram character prediction is enabled, enter "space" to accept the prediction. Long-pressing a board entry widget will normally copy the contents to the currently selected widget. E.g. selecting the main playboard widget, then long pressing scratch will copy scratch to the board. Long-pressing the anagram source will mix the letters.</p><br>

<p>You can also add flags to clues. There is a menu option for setting the colour, or you can long-press the flag clue checkbox.</p>
