<h2>Puzzle Archive Scraping</h2><br>

<p>These are online archives of puzzles, rather than daily/weekly releases -- although some may be added to regularly.</p><br>
<p>On download, the scrapers take one puzzle from the page that is not already stored on the device. The choice of date in download dialog is ignored.</p>
