<h2>Voice Commands</h2><br>

<!-- keep this up to date with strings.xml -->

<p>If voice input is enabled, you can use the following voice commands.</p>
<br>

<h4>Main board screen</h4><br>

• <b>Solution <i>word</i> / Put <i>word</i></b> - Enter <i>word</i> into the grid. E.g. "put potato".<br>
• <b>Letter <i>l</i></b> - Enter a single letter <i>l</i> into the grid. E.g. "letter b".<br>
• <b>Delete</b> - Delete at the cursor.<br>
• <b>Clear</b> - Clear the current selected word.<br>
• <b>Number <i>n</i></b> - Jump to clue number <i>n</i>. E.g. "number 27".<br>
• <b>Toggle</b> - Change selected clue direction.<br>
• <b>Next/previous/jump</b> - Go to the next/previous/random clue.<br>
• <b>Left/right/up/down</b> - Same as arrow keys.<br>
• <b>Clues</b> - Go to the clue list screen.<br>
• <b>Notes</b> - Go to the current clue's notes page.<br>
• <b>Back</b> - Same as back button.<br>
• <b>Announce</b> - Announce the current clue and board contents. Will use accessibility service if running, else the available text-to-speech service.<br>
• <b>Help</b> - Ask ChatGPT for help with current clue. Requires a network connection and Chat GPT to be configured in interaction settings.<br>
<br>

<h4>Clue list screen</h4><br>

• <b>Solution <i>word</i> / Put <i>word</i></b> - Enter <i>word</i> into the grid. E.g. "put potato".<br>
• <b>Letter <i>l</i></b> - Enter a single letter <i>l</i> into the grid. E.g. "letter b".<br>
• <b>Delete</b> - Delete at the cursor.<br>
• <b>Clear</b> - Clear the current selected word.<br>
• <b>Number <i>n</i></b> - Jump to clue number <i>n</i>. E.g. "number 27".<br>
• <b>Next/previous</b> - Go to the next/previous clue list.<br>
• <b>Left/right/up/down</b> - Same as arrow keys.<br>
• <b>Notes</b> - Go to the current clue's notes page.<br>
• <b>Back</b> - Same as back button.<br>
• <b>Announce</b> - Announce the current clue and board contents. Will use accessibility service if running, else the available text-to-speech service.<br>
• <b>Help</b> - Ask ChatGPT for help with current clue. Requires a network connection and Chat GPT to be configured in interaction settings.<br>
<br>

<h4>Notes screen</h4><br>

• <b>Solution <i>word</i> / Put <i>word</i></b> - Enter <i>word</i> into the grid. E.g. "put potato".<br>
• <b>Letter <i>l</i></b> - Enter a single letter <i>l</i> into the grid. E.g. "letter b".<br>
• <b>Delete</b> - Delete at the cursor.<br>
• <b>Clear</b> - Clear the current selected word.<br>
• <b>Scratch <i>word</i></b> - Enter <i>word</i> into scratch. E.g. "scratch potato".<br>
• <b>Scratch clear</b> - Clear the scratch box.<br>
• <b>Back</b> - Same as back button.<br>
• <b>Announce</b> - Announce the current clue and board contents. Will use accessibility service if running, else the available text-to-speech service.<br>
• <b>Help</b> - Ask ChatGPT for help with current clue. Requires a network connection and Chat GPT to be configured in interaction settings.<br>

